// CHARACTER LIST

.characterlist {
  display: grid;
  grid-gap: 2rem;
  padding: 0;
  max-width: 1280px;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 320px;
  list-style-type: none;
}

// CHARACTER CARD
.charactercard {
  margin: auto;
  padding: 0;
  text-decoration: none;
  &__li {
    background-color: rgb(47, 255, 217);
    background-image: linear-gradient(120deg, #9fff18 50%, #18c2cb6b 100%);
    width: 200px;
    height: 315px;
    margin: auto;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 3px solid greenyellow;
      -webkit-box-shadow: 2px 2px 15px 2px rgba(20, 255, 71, 1);
      -moz-box-shadow: 2px 2px 37px 2px rgba(20, 255, 71, 1);
      box-shadow: 2px 2px 37px 2px rgba(20, 255, 71, 1);
    }
  }
  &__img {
    width: 100%;
    box-sizing: border-box;

    border-top-left-radius: 40px;

    &-container {
      width: 200px;
      margin: auto;
    }
  }
  &__title {
    font-family: 'Chelsea Market', cursive;
    color: honeydew;
    text-shadow: 1px 1px 1px #333;
    text-align: center;
    padding: 5px 15px;
    margin: auto;
    height: 40px;
  }
  &__icon {
    width: 100%;
    &-container {
      margin: 15px auto;
      width: 30px;
      height: 30px;
    }
  }
}
@media all and (min-width: 768px) {
  .characterlist {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 320px;
    max-width: 768px;
    margin: auto;
    // grid-gap: 4rem;
  }
}

@media all and (min-width: 1280px) {
  .characterlist {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px;
    max-width: 1200px;
    margin: auto;
  }
  .charactercard {
    margin: auto;
  }
}

// CHARACTER DETAIL
.modal {
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;

  &__link {
    text-decoration: none;
  }

  &__dialog {
    padding-top: 30px;
    min-height: 100vh;
  }
  &__content {
    margin: auto;
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: white;
    background-color: #4f7816;

    -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
      transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
      transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }

  &__img {
    width: 100%;
    object-fit: center;
    border-top-left-radius: 40px;
    &-container {
      width: 225px;
      height: 210px;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom-right-radius: 40px;
    width: 100%;
  }
  &__title {
    text-align: center;
    font-size: 1.25rem;
    text-shadow: 1px 1px 1px #333;
    width: 225px;
    margin: auto;
    padding: 5px 0;
    min-height: 40px;
    background-color: rgb(47, 255, 217);
    background-image: linear-gradient(120deg, #9fff18 50%, #18c2cb6b 100%);
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  &__close {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    color: white;
    &-img {
      width: 100%;
      &-container {
        width: 150px;
      }
    }
  }
  &__ul {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 225px;
    background-color: white;

    border-bottom-right-radius: 40px;
    &-li {
      display: flex;
      justify-content: center;
      align-items: center;

      &-span-1 {
        box-sizing: border-box;
        background-color: rgb(53, 57, 57);

        width: 100px;
        height: 52px;
        padding: 5px;
      }
      &-span-2 {
        box-sizing: border-box;
        background-color: rgb(112, 236, 214);
        background-image: linear-gradient(200deg, white 50%, #9fff18 100%);
        border-bottom-right-radius: 40px;
        font-weight: bold;
        color: black;
        width: 125px;
        height: 52px;
        padding: 5px;
        text-align: center;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .modal {
    &__dialog {
      padding-top: 50px;
    }
    &__content {
      margin: auto;
      width: 400px;
      height: 400px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    &__img {
      &-container {
        width: 200px;
        height: 200px;
      }
    }

    &__title {
      font-size: 1.3rem;
      width: 200px;
      box-sizing: border-box;
      padding: 20px;
      text-align: center;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__close {
      width: 300px;
      margin: 0;
      justify-content: space-between;

      &-img {
        width: 100%;
        &-container {
          width: 160px;
        }
      }
      &-p {
        font-size: 1.5rem;
      }
    }
    &__ul {
      width: 200px;
      height: 400px;

      &-li {
        &-span-1 {
          padding: 10px;
          width: 80px;
          height: 80px;
        }
        &-span-2 {
          padding: 10px;
          width: 120px;
          height: 80px;
        }
      }
    }
  }
}

//NO CHARACTER
.no-character {
  width: 200px;
  margin: auto;
  margin-top: 20px;
  text-align: right;
  background-color: rgb(35, 37, 44);
  border-radius: 25px;
  padding-top: 3px;
  img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 170px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  p {
    margin: 20px;
  }
}

@media all and (min-width: 768px) {
  .no-character {
    width: 400px;
    font-size: 1.5rem;
  }
}
